.card{
    background-color: #1a1c1e;
    border-radius: 20px;
    overflow: hidden;
    width: 300px;
    align-self: center;
    justify-self: center;
    cursor: pointer;
}

h3, p{
    color: white;
}

.img{
    width: 100%;
}

.name{
    margin-bottom: 0px;
    font-size: 1em;
}
.p{
    margin-top: 2px;
    margin-bottom: 0px;
    font-size: 0.9em;
    color: rgba(128, 128, 128, 0.822);
}
.price{
    font-size: 0.9em;
}

.pricecont{
    display: flex;
    margin-top: 0px;
    align-items: center;
}

.eth{
    width: 1.6vh;
    margin-right: 0.25em;
}

.data{
    margin-left: 1.5em;
    margin-bottom: 0.5em;
}