.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6em;
    background-color: transparent;
}

.title{
    font-family:calibri;
    font-size: 1.25em;
    -webkit-text-stroke: 0.5px black;
}

.title{
    color:white;
}

.title:hover{
    color:#ba51f6;
    transform: scale(1.05);
}

.menu{
    display:grid;
    grid-template-columns: 150px 150px 150px;
    margin-right: 2.5em;
    align-items: center;
}

a:link, a:visited, a:active {
    text-decoration:none;
}

.div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.img{
    user-select: none; 
    width: 80%;
    vertical-align: middle;
    font-style: italic;
}

.img:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.link{
    width: 10%;
    margin-left: 6vh;
}